<!DOCTYPE HTML>
<html>

  <head>
    <title>POIT 2023 Petrik</title>

    <script type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
    <link rel="stylesheet" href="static/libs/style.css">
    <style>
    button,
    #button2 {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    #button2 {
      background-color: #4bd3d3;
    }
  </style>
    <script src="static/libs/plotly-latest.min.js"></script>
    <script src="static/libs/jquery-3.2.1.min.js"></script>
    <script src="static/libs/jquery-ui.min.js"></script>
    <script src="static/libs/gauge.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      graph_x = [];
      graph_light = [];
      graph_distance = [];

    $(function () {
      $("#tabs").tabs({
        event: "click"
      });
    });


    $(document).ready(function () {
           
      var gaugeLight = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "%",
          minValue: 0,
          maxValue: 100,

          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0,
                  "to": 100,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gaugeLight.draw();
      gaugeLight.value = "0";

      var gaugeDistance = new RadialGauge({
          renderTo: 'canvasID2',
          width: 300,
          height: 300,
          units: "Cm",
          minValue: 0,
          maxValue: 300,
          majorTicks: [
              "0",
              "50",
              "100",
              "150",
              "200",
              "250",
              "300"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0,
                  "to": 300,
                  "color": "rgba(45, 200, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gaugeDistance.draw();
      gaugeDistance.value = "0";

      var x = new Array();
      var sinX = new Array();
      var cosX = new Array();

      var trace;
      var layout;

      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function () {
        socket.emit('my_event', { data: 'I\'m connected!', value: 1 });
      });

      let counter = 0

      socket.on('my_response', function (msg) {
        

        let graph_data = data = JSON.parse(msg.data);
        graph_x.push(counter);
        graph_light.push(parseFloat(data.light))
        graph_distance.push(parseFloat(data.distance))
        
        let traceLight = {
            x: graph_x,
            y: graph_light,
            name: "light" };   

        let traceDistance = {
            x: graph_x,
            y: graph_distance,
            name: "distance"
            };   

        
        
        var graph_live_traces = new Array();
        graph_live_traces.push(traceLight);
        graph_live_traces.push(traceDistance);
        Plotly.newPlot($('#graph-live')[0], graph_live_traces,layout); 
        counter++;

        gaugeLight.value = data.light;  

        gaugeDistance.value = data.distance;  

        
        $('#table_live').append('<tr>' + '<td>' + msg.count + '</td>' + '<td>' + msg.data + '</td>' + '<td>' + '</tr>').html();
      
        });




      $('form#emit').submit(function (event) {
        socket.emit('my_event', { value: $('#emit_value').val() });
        return false;
      });


      $('#buttonVal').click(function (event) {
        //console.log($('#buttonVal').val());
        socket.emit('db_event', { value: $('#buttonVal').val() });
        if ($(this).val() == "start") {
          $(this).val("stop");
          $(this).text("Stop");
          //$('#database-data').append('Received').html();
        }
        else {
          $(this).val("start");
          $(this).text("Start");
        }
        return false;
      });

      $('form#disconnect').submit(function (event) {
        socket.emit('disconnect_request');
        return false;
      });




      socket.on('refresh_db_response', function (msg) {
        $('#database-data').empty(); // clear existing data
        $('#database-data').append(`
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Hodnoty</th>
            </tr>
          </thead>
          <tbody>
            ${msg.data.map(d => `
              <tr>
                <td>${d[0]}</td>
                <td>${d[1]}</td>
              </tr>
            `).join('')}
          </tbody>
        </table>
      `);
      });


      $('form#graphIdForm').submit(function (event) {
        socket.emit('get_graph_values_by_id', { value: $('#requestedId').val() });
        return false;
      });



      socket.on('fetch-one', function (msg) {

        $('#data-one').append('<h2>Hodnota:</h2>')
        $('#data-one').append(msg.data)
        data = JSON.parse(msg.data[0]);

        console.log(data[0]);
        console.log(data[0]["x"]);
        //      $('#graph').html(msg.data[0])

        x = []
        sinX = []
        cosX = []
        let counter = 0
        for (item of data) {
          x.push(counter);
          sinX.push(parseFloat(item["light"]));
          cosX.push(parseFloat(item["distance"]));
          counter = counter + 1
        }


        //    x.push(parseFloat(msg.data));
        //     y.push(parseFloat(msg.data));
        traceSin = {
          x: x,
          y: sinX,
          name: "light"
        };

        traceCos = {
          x: x,
          y: cosX,
          name: "distance"
        };

        layout = {
          title: 'Data',
          xaxis: {
            title: 'x',
          },
          yaxis: {
            title: 'y',
            //range: [-1,1]
          }
        };
        var traces = new Array();
        traces.push(traceSin);
        traces.push(traceCos);
        Plotly.newPlot($('#plotdiv')[0], traces, layout);
        //addTraces               
      })

    });

  </script>
  </head>

  <body>

    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Hodnoty</a></li>
        <li><a href="#tabs-2">Graf nazivo</a></li>
        <li><a href="#tabs-3">Analog nazivo</a></li>
        <li><a href="#tabs-4">Graf z databazy</a></li>
        <li><a href="#tabs-5">Graf zo suboru</a></li>
      </ul>
      <div id="tabs-1">
        <h1>Pre nahranie a zobrazenie hodnot spusti tlacidlo Start.</h1>
        <button id="buttonVal" type="submit" value="start">Start</button>
        <form id="disconnect" method="POST" action="#">
          <input type="submit" id="button2" value="Disconnect">
        </form>
        <table>
          <thead>
            <tr>
              <th>Poradie</th>
              <th>Hodnoty</th>
            </tr>
          </thead>
          <tbody id="table_live">

          </tbody>
        </table>
        <!-- <h2>Send:</h2>

      <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
        <input type="submit" value="Echo">
      </form> -->
      </div>


      <div id="tabs-2">
        <div id="graph-live" style="width:600px;height:250px;"></div>
      </div>


      <div id="tabs-3">
        <div>
          <h2>Svetlost</h2>
        <canvas id="canvasID"></canvas>
        </div>
        <div>
          <h2>Vzdialenost</h2>
        <canvas id="canvasID2"></canvas>

        </div>
        
      </div>


      <div id="tabs-4">
        <h2>Zadaj ID zaznamu pre zobrazenie grafu a vypisu:</h2>
          <form id="graphIdForm" method="GET" action='#'>
            <input type="text" name="requestedId" id="requestedId"
              placeholder="vykreslované ID">
            <input type="submit" value="vykresliť">
          </form>
        <div id="plotdiv" style="width:600px;height:250px;"></div>
        <div id="data-one">
          

        </div>
        <h2>Data z databazy</h2>
        <table id="database-data"></table>
      </div>
      <div id="tabs-5">
        <p>Neviem ci bude kamarat</p>
      </div>
    </div>




  </html>